<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matches</title>
</head>
<body>
<h1>Matches</h1>
        <div>
            <br /> <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/">Home</a><br />
        </div>
         <div>
            <a href="/sportsday/activities">Activities</a><br />
        </div>
        <div>
            <a href="/sportsday/register">Register</a><br />
        </div>
        <div>
            <a href="/sportsday/messages">Messages</a><br />
        </div>
        <div>
            <a href="/sportsday/contact">Contact Us</a><br />
        </div>
</body>
</html>