<!DOCTYPE html>
{% load rango_template_tags %}
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
           Sports Matchmaker -</title>
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     </head>      
     <body>
         <div class="container" align="center">
           <header class="blog-header py-3">
             <div class="span4">
               <!-- <a class="blog-header-logo text-dark">Sports Matchmaker</a> -->
               <img class="center-block" src="multisports_banner.jpg"/>
             </div>
           </header>
           <div class="nav-scroller py-1 mb-2">
             <nav class="nav d-flex justify-content-between">
               <a class="p-2 text-muted" href="#">Home</a>
               <a class="p-2 text-muted" href="#">Activities</a>
               <a class="p-2 text-muted" href="#">View matches</a>
               <a class="p-2 text-muted" href="#">Register</a>
               <a class="p-2 text-muted" href="#">Login</a>
               <a class="p-2 text-muted" href="#">Messages</a>
               <a class="p-2 text-muted" href="#">Contact us</a>
             </nav>
           </div>
         </div>
         <div>
            {% block body_block %}
            {% endblock %}
         </div>
      </body>
</html>
          
