<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<h1>Messages</h1>
        <div>
            <br /> <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/">Home</a><br />
        </div>
         <div>
            <a href="/sportsday/activities">Activities</a><br />
        </div>
        <div>
            <a href="/sportsday/register">Register</a><br />
        </div>
        <div>
            <a href="/sportsday/matches">View Matches</a><br />
        </div>
        <div>
            <a href="/sportsday/contact">Contact Us</a><br />
        </div>
</body>
</html>